# Exercise 02 -  OLAP Cubes - Roll Up and Drill Down

All the databases table in this demo are based on public database samples and transformations
- `Sakila` is a sample database created by `MySql` [Link](https://dev.mysql.com/doc/sakila/en/sakila-structure.html)
- The postgresql version of it is called `Pagila` [Link](https://github.com/devrimgunduz/pagila)
- The facts and dimension tables design is based on O'Reilly's public dimensional modelling tutorial schema [Link](http://archive.oreilly.com/oreillyschool/courses/dba3/index.html)

Start by connecting to the database by running the cells below. If you are coming back to this exercise, then uncomment and run the first cell to recreate the database. If you recently completed the slicing and dicing exercise, then skip to the second cell.

In [1]:
 !PGPASSWORD=student createdb -h 127.0.0.1 -U student pagila_star
 !PGPASSWORD=student psql -q -h 127.0.0.1 -U student -d pagila_star -f Data/pagila-star.sql

createdb: database creation failed: ERROR:  database "pagila_star" already exists
 set_config
------------

(1 row)

psql:Data/pagila-star.sql:42: ERROR:  type "mpaa_rating" already exists
psql:Data/pagila-star.sql:52: ERROR:  type "year" already exists
psql:Data/pagila-star.sql:69: ERROR:  function "_group_concat" already exists with same argument types
psql:Data/pagila-star.sql:86: ERROR:  function "film_in_stock" already exists with same argument types
psql:Data/pagila-star.sql:103: ERROR:  function "film_not_in_stock" already exists with same argument types
psql:Data/pagila-star.sql:148: ERROR:  function "get_customer_balance" already exists with same argument types
psql:Data/pagila-star.sql:170: ERROR:  function "inventory_held_by_customer" already exists with same argument types
psql:Data/pagila-star.sql:207: ERROR:  function "inventory_in_stock" already exists with same argument types
psql:Data/pagila-star.sql:225: ERROR:  function "last_day" already exists with same argument types
psql:Data/pagila-star.sql:240: ERROR:  function "last_updated" already exists with same argument types
psql:Data/pagila-star.sql:264: ERROR:  relation "customer" already exists
psql:Data/pagila-star.sql:328: ERROR:  function "rewards_report" already exists with same argument types
psql:Data/pagila-star.sql:340: ERROR:  function "group_concat" already exists with same argument types
psql:Data/pagila-star.sql:354: ERROR:  relation "actor_actor_id_seq" already exists
psql:Data/pagila-star.sql:368: ERROR:  relation "actor" already exists
psql:Data/pagila-star.sql:382: ERROR:  relation "category_category_id_seq" already exists
psql:Data/pagila-star.sql:395: ERROR:  relation "category" already exists
psql:Data/pagila-star.sql:409: ERROR:  relation "film_film_id_seq" already exists
psql:Data/pagila-star.sql:433: ERROR:  relation "film" already exists
psql:Data/pagila-star.sql:446: ERROR:  relation "film_actor" already exists
psql:Data/pagila-star.sql:459: ERROR:  relation "film_category" already exists
psql:Data/pagila-star.sql:482: ERROR:  relation "actor_info" already exists
psql:Data/pagila-star.sql:496: ERROR:  relation "address_address_id_seq" already exists
psql:Data/pagila-star.sql:514: ERROR:  relation "address" already exists
psql:Data/pagila-star.sql:528: ERROR:  relation "city_city_id_seq" already exists
psql:Data/pagila-star.sql:542: ERROR:  relation "city" already exists
psql:Data/pagila-star.sql:556: ERROR:  relation "country_country_id_seq" already exists
psql:Data/pagila-star.sql:569: ERROR:  relation "country" already exists
psql:Data/pagila-star.sql:583: ERROR:  relation "customer_customer_id_seq" already exists
psql:Data/pagila-star.sql:597: ERROR:  relation "customer_customer_id_seq1" already exists
psql:Data/pagila-star.sql:629: ERROR:  relation "customer_list" already exists
psql:Data/pagila-star.sql:655: ERROR:  relation "dimcustomer" already exists
psql:Data/pagila-star.sql:669: ERROR:  relation "dimcustomer_customer_key_seq" already exists
psql:Data/pagila-star.sql:694: ERROR:  relation "dimdate" already exists
psql:Data/pagila-star.sql:715: ERROR:  relation "dimmovie" already exists
psql:Data/pagila-star.sql:729: ERROR:  relation "dimmovie_movie_key_seq" already exists
psql:Data/pagila-star.sql:758: ERROR:  relation "dimstore" already exists
psql:Data/pagila-star.sql:772: ERROR:  relation "dimstore_store_key_seq" already exists
psql:Data/pagila-star.sql:795: ERROR:  relation "factsales" already exists
psql:Data/pagila-star.sql:809: ERROR:  relation "factsales_sales_key_seq" already exists
psql:Data/pagila-star.sql:839: ERROR:  relation "film_list" already exists
psql:Data/pagila-star.sql:853: ERROR:  relation "inventory_inventory_id_seq" already exists
psql:Data/pagila-star.sql:867: ERROR:  relation "inventory" already exists
psql:Data/pagila-star.sql:881: ERROR:  relation "language_language_id_seq" already exists
psql:Data/pagila-star.sql:894: ERROR:  relation "language" already exists
psql:Data/pagila-star.sql:917: ERROR:  relation "nicer_but_slower_film_list" already exists
psql:Data/pagila-star.sql:931: ERROR:  relation "payment_payment_id_seq" already exists
psql:Data/pagila-star.sql:947: ERROR:  relation "payment" already exists
psql:Data/pagila-star.sql:961: ERROR:  relation "rental_rental_id_seq" already exists
psql:Data/pagila-star.sql:978: ERROR:  relation "rental" already exists
psql:Data/pagila-star.sql:997: ERROR:  relation "sales_by_film_category" already exists
psql:Data/pagila-star.sql:1011: ERROR:  relation "staff_staff_id_seq" already exists
psql:Data/pagila-star.sql:1032: ERROR:  relation "staff" already exists
psql:Data/pagila-star.sql:1046: ERROR:  relation "store_store_id_seq" already exists
psql:Data/pagila-star.sql:1060: ERROR:  relation "store" already exists
psql:Data/pagila-star.sql:1082: ERROR:  relation "sales_by_store" already exists
psql:Data/pagila-star.sql:1103: ERROR:  relation "staff_list" already exists
psql:Data/pagila-star.sql:1348: ERROR:  duplicate key value violates unique constraint "actor_pkey"
DETAIL:  Key (actor_id)=(1) already exists.
CONTEXT:  COPY actor, line 1
 setval
--------
    200
(1 row)

psql:Data/pagila-star.sql:1966: ERROR:  duplicate key value violates unique constraint "address_pkey"
DETAIL:  Key (address_id)=(1) already exists.
CONTEXT:  COPY address, line 1
 setval
--------
    605
(1 row)

psql:Data/pagila-star.sql:1997: ERROR:  duplicate key value violates unique constraint "category_pkey"
DETAIL:  Key (category_id)=(1) already exists.
CONTEXT:  COPY category, line 1
 setval
--------
     16
(1 row)

psql:Data/pagila-star.sql:2612: ERROR:  duplicate key value violates unique constraint "city_pkey"
DETAIL:  Key (city_id)=(1) already exists.
CONTEXT:  COPY city, line 1
 setval
--------
    600
(1 row)

psql:Data/pagila-star.sql:2736: ERROR:  duplicate key value violates unique constraint "country_pkey"
DETAIL:  Key (country_id)=(1) already exists.
CONTEXT:  COPY country, line 1
 setval
--------
    109
(1 row)

psql:Data/pagila-star.sql:3350: ERROR:  duplicate key value violates unique constraint "customer_pkey"
DETAIL:  Key (customer_id)=(1) already exists.
CONTEXT:  COPY customer, line 1
 setval
--------
    599
(1 row)

 setval
--------
      1
(1 row)

psql:Data/pagila-star.sql:3971: ERROR:  duplicate key value violates unique constraint "dimcustomer_pkey"
DETAIL:  Key (customer_key)=(1) already exists.
CONTEXT:  COPY dimcustomer, line 1
 setval
--------
      1
(1 row)

psql:Data/pagila-star.sql:4026: ERROR:  duplicate key value violates unique constraint "dimdate_pkey"
DETAIL:  Key (date_key)=(20170407) already exists.
CONTEXT:  COPY dimdate, line 1
psql:Data/pagila-star.sql:5034: ERROR:  duplicate key value violates unique constraint "dimmovie_pkey"
DETAIL:  Key (movie_key)=(1) already exists.
CONTEXT:  COPY dimmovie, line 1
 setval
--------
      1
(1 row)

psql:Data/pagila-star.sql:5051: ERROR:  duplicate key value violates unique constraint "dimstore_pkey"
DETAIL:  Key (store_key)=(1) already exists.
CONTEXT:  COPY dimstore, line 1
 setval
--------
      1
(1 row)

psql:Data/pagila-star.sql:37164: ERROR:  duplicate key value violates unique constraint "factsales_pkey"
DETAIL:  Key (sales_key)=(1) already exists.
CONTEXT:  COPY factsales, line 1
 setval
--------
  32098
(1 row)

psql:Data/pagila-star.sql:38179: ERROR:  duplicate key value violates unique constraint "film_pkey"
DETAIL:  Key (film_id)=(1) already exists.
CONTEXT:  COPY film, line 1: "1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The C..."
psql:Data/pagila-star.sql:43649: ERROR:  duplicate key value violates unique constraint "film_actor_pkey"
DETAIL:  Key (actor_id, film_id)=(1, 1) already exists.
CONTEXT:  COPY film_actor, line 1
psql:Data/pagila-star.sql:44657: ERROR:  duplicate key value violates unique constraint "film_category_pkey"
DETAIL:  Key (film_id, category_id)=(1, 6) already exists.
CONTEXT:  COPY film_category, line 1
 setval
--------
   1000
(1 row)

psql:Data/pagila-star.sql:49253: ERROR:  duplicate key value violates unique constraint "inventory_pkey"
DETAIL:  Key (inventory_id)=(1) already exists.
CONTEXT:  COPY inventory, line 1
 setval
--------
   4581
(1 row)

psql:Data/pagila-star.sql:49274: ERROR:  duplicate key value violates unique constraint "language_pkey"
DETAIL:  Key (language_id)=(1) already exists.
CONTEXT:  COPY language, line 1
 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

psql:Data/pagila-star.sql:97446: ERROR:  duplicate key value violates unique constraint "rental_pkey"
DETAIL:  Key (rental_id)=(2) already exists.
CONTEXT:  COPY rental, line 1
 setval
--------
  16049
(1 row)

psql:Data/pagila-star.sql:97463: ERROR:  duplicate key value violates unique constraint "staff_pkey"
DETAIL:  Key (staff_id)=(1) already exists.
CONTEXT:  COPY staff, line 1
 setval
--------
      2
(1 row)

psql:Data/pagila-star.sql:97480: ERROR:  duplicate key value violates unique constraint "store_pkey"
DETAIL:  Key (store_id)=(1) already exists.
CONTEXT:  COPY store, line 1
 setval
--------
      2
(1 row)

psql:Data/pagila-star.sql:97495: ERROR:  multiple primary keys for table "actor" are not allowed
psql:Data/pagila-star.sql:97503: ERROR:  multiple primary keys for table "address" are not allowed
psql:Data/pagila-star.sql:97511: ERROR:  multiple primary keys for table "category" are not allowed
psql:Data/pagila-star.sql:97519: ERROR:  multiple primary keys for table "city" are not allowed
psql:Data/pagila-star.sql:97527: ERROR:  multiple primary keys for table "country" are not allowed
psql:Data/pagila-star.sql:97535: ERROR:  multiple primary keys for table "customer" are not allowed
psql:Data/pagila-star.sql:97543: ERROR:  multiple primary keys for table "dimcustomer" are not allowed
psql:Data/pagila-star.sql:97551: ERROR:  multiple primary keys for table "dimdate" are not allowed
psql:Data/pagila-star.sql:97559: ERROR:  multiple primary keys for table "dimmovie" are not allowed
psql:Data/pagila-star.sql:97567: ERROR:  multiple primary keys for table "dimstore" are not allowed
psql:Data/pagila-star.sql:97575: ERROR:  multiple primary keys for table "factsales" are not allowed
psql:Data/pagila-star.sql:97583: ERROR:  multiple primary keys for table "film_actor" are not allowed
psql:Data/pagila-star.sql:97591: ERROR:  multiple primary keys for table "film_category" are not allowed
psql:Data/pagila-star.sql:97599: ERROR:  multiple primary keys for table "film" are not allowed
psql:Data/pagila-star.sql:97607: ERROR:  multiple primary keys for table "inventory" are not allowed
psql:Data/pagila-star.sql:97615: ERROR:  multiple primary keys for table "language" are not allowed
psql:Data/pagila-star.sql:97623: ERROR:  multiple primary keys for table "rental" are not allowed
psql:Data/pagila-star.sql:97631: ERROR:  multiple primary keys for table "staff" are not allowed
psql:Data/pagila-star.sql:97639: ERROR:  multiple primary keys for table "store" are not allowed
psql:Data/pagila-star.sql:97646: ERROR:  relation "film_fulltext_idx" already exists
psql:Data/pagila-star.sql:97653: ERROR:  relation "idx_actor_last_name" already exists
psql:Data/pagila-star.sql:97660: ERROR:  relation "idx_fk_address_id" already exists
psql:Data/pagila-star.sql:97667: ERROR:  relation "idx_fk_city_id" already exists
psql:Data/pagila-star.sql:97674: ERROR:  relation "idx_fk_country_id" already exists
psql:Data/pagila-star.sql:97681: ERROR:  relation "idx_fk_customer_id" already exists
psql:Data/pagila-star.sql:97688: ERROR:  relation "idx_fk_film_id" already exists
psql:Data/pagila-star.sql:97695: ERROR:  relation "idx_fk_inventory_id" already exists
psql:Data/pagila-star.sql:97702: ERROR:  relation "idx_fk_language_id" already exists
psql:Data/pagila-star.sql:97709: ERROR:  relation "idx_fk_original_language_id" already exists
psql:Data/pagila-star.sql:97716: ERROR:  relation "idx_fk_payment_customer_id" already exists
psql:Data/pagila-star.sql:97723: ERROR:  relation "idx_fk_payment_staff_id" already exists
psql:Data/pagila-star.sql:97730: ERROR:  relation "idx_fk_store_id" already exists
psql:Data/pagila-star.sql:97737: ERROR:  relation "idx_last_name" already exists
psql:Data/pagila-star.sql:97744: ERROR:  relation "idx_store_id_film_id" already exists
psql:Data/pagila-star.sql:97751: ERROR:  relation "idx_title" already exists
psql:Data/pagila-star.sql:97758: ERROR:  relation "idx_unq_manager_staff_id" already exists
psql:Data/pagila-star.sql:97765: ERROR:  relation "idx_unq_rental_rental_date_inventory_id_customer_id" already exists
psql:Data/pagila-star.sql:97772: ERROR:  trigger "film_fulltext_trigger" for relation "film" already exists
psql:Data/pagila-star.sql:97779: ERROR:  trigger "last_updated" for relation "actor" already exists
psql:Data/pagila-star.sql:97786: ERROR:  trigger "last_updated" for relation "address" already exists
psql:Data/pagila-star.sql:97793: ERROR:  trigger "last_updated" for relation "category" already exists
psql:Data/pagila-star.sql:97800: ERROR:  trigger "last_updated" for relation "city" already exists
psql:Data/pagila-star.sql:97807: ERROR:  trigger "last_updated" for relation "country" already exists
psql:Data/pagila-star.sql:97814: ERROR:  trigger "last_updated" for relation "customer" already exists
psql:Data/pagila-star.sql:97821: ERROR:  trigger "last_updated" for relation "film" already exists
psql:Data/pagila-star.sql:97828: ERROR:  trigger "last_updated" for relation "film_actor" already exists
psql:Data/pagila-star.sql:97835: ERROR:  trigger "last_updated" for relation "film_category" already exists
psql:Data/pagila-star.sql:97842: ERROR:  trigger "last_updated" for relation "inventory" already exists
psql:Data/pagila-star.sql:97849: ERROR:  trigger "last_updated" for relation "language" already exists
psql:Data/pagila-star.sql:97856: ERROR:  trigger "last_updated" for relation "rental" already exists
psql:Data/pagila-star.sql:97863: ERROR:  trigger "last_updated" for relation "staff" already exists
psql:Data/pagila-star.sql:97870: ERROR:  trigger "last_updated" for relation "store" already exists
psql:Data/pagila-star.sql:97878: ERROR:  constraint "address_city_id_fkey" for relation "address" already exists
psql:Data/pagila-star.sql:97886: ERROR:  constraint "city_country_id_fkey" for relation "city" already exists
psql:Data/pagila-star.sql:97894: ERROR:  constraint "customer_address_id_fkey" for relation "customer" already exists
psql:Data/pagila-star.sql:97902: ERROR:  constraint "customer_store_id_fkey" for relation "customer" already exists
psql:Data/pagila-star.sql:97910: ERROR:  constraint "factsales_customer_key_fkey" for relation "factsales" already exists
psql:Data/pagila-star.sql:97918: ERROR:  constraint "factsales_date_key_fkey" for relation "factsales" already exists
psql:Data/pagila-star.sql:97926: ERROR:  constraint "factsales_movie_key_fkey" for relation "factsales" already exists
psql:Data/pagila-star.sql:97934: ERROR:  constraint "factsales_store_key_fkey" for relation "factsales" already exists
psql:Data/pagila-star.sql:97942: ERROR:  constraint "film_actor_actor_id_fkey" for relation "film_actor" already exists
psql:Data/pagila-star.sql:97950: ERROR:  constraint "film_actor_film_id_fkey" for relation "film_actor" already exists
psql:Data/pagila-star.sql:97958: ERROR:  constraint "film_category_category_id_fkey" for relation "film_category" already exists
psql:Data/pagila-star.sql:97966: ERROR:  constraint "film_category_film_id_fkey" for relation "film_category" already exists
psql:Data/pagila-star.sql:97974: ERROR:  constraint "film_language_id_fkey" for relation "film" already exists
psql:Data/pagila-star.sql:97982: ERROR:  constraint "film_original_language_id_fkey" for relation "film" already exists
psql:Data/pagila-star.sql:97990: ERROR:  constraint "inventory_film_id_fkey" for relation "inventory" already exists
psql:Data/pagila-star.sql:97998: ERROR:  constraint "inventory_store_id_fkey" for relation "inventory" already exists
psql:Data/pagila-star.sql:98006: ERROR:  constraint "payment_customer_id_fkey" for relation "payment" already exists
psql:Data/pagila-star.sql:98014: ERROR:  constraint "payment_rental_id_fkey" for relation "payment" already exists
psql:Data/pagila-star.sql:98022: ERROR:  constraint "payment_staff_id_fkey" for relation "payment" already exists
psql:Data/pagila-star.sql:98030: ERROR:  constraint "rental_customer_id_fkey" for relation "rental" already exists
psql:Data/pagila-star.sql:98038: ERROR:  constraint "rental_inventory_id_fkey" for relation "rental" already exists
psql:Data/pagila-star.sql:98046: ERROR:  constraint "rental_staff_id_fkey" for relation "rental" already exists
psql:Data/pagila-star.sql:98054: ERROR:  constraint "staff_address_id_fkey" for relation "staff" already exists
psql:Data/pagila-star.sql:98062: ERROR:  constraint "staff_store_id_fkey" for relation "staff" already exists
psql:Data/pagila-star.sql:98070: ERROR:  constraint "store_address_id_fkey" for relation "store" already exists

### Connect to the local database where Pagila is loaded

In [2]:
import sql
%load_ext sql

DB_ENDPOINT = "127.0.0.1"
DB = 'pagila_star'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)
%sql $conn_string

postgresql://student:student@127.0.0.1:5432/pagila_star

'Connected: student@pagila_star'

### Star Schema

<img src="pagila-star.png" width="50%"/>

## Roll-up
- Stepping up the level of aggregation to a large grouping
- e.g.`city` is summed as `country`

TODO: Write a query that calculates revenue (sales_amount) by day, rating, and country. Sort the data by revenue in descending order, and limit the data to the top 20 results. The first few rows of your output should match the table below.

In [3]:
%%time
%%sql

SELECT ddate.day, dmovie.rating, dcust.country, sum(f.sales_amount) as revenue
FROM factsales f
JOIN dimdate ddate     ON (f.date_key = ddate.date_key)
JOIN dimmovie dmovie   ON (f.movie_key = dmovie.movie_key)
JOIN dimcustomer dcust ON (f.customer_key = dcust.customer_key)
GROUP BY (ddate.day, dmovie.rating, dcust.country)
ORDER BY revenue DESC
LIMIT 5

 * postgresql://student:***@127.0.0.1:5432/pagila_star
5 rows affected.
CPU times: user 4.96 ms, sys: 163 Âµs, total: 5.13 ms
Wall time: 79.6 ms

[(30, 'G', 'China', Decimal('339.34')),
 (30, 'PG', 'India', Decimal('313.34')),
 (30, 'NC-17', 'India', Decimal('307.28')),
 (30, 'PG-13', 'China', Decimal('293.34')),
 (30, 'R', 'China', Decimal('291.32'))]

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>day</th>
        <th>rating</th>
        <th>country</th>
        <th>revenue</th>
    </tr>
    <tr>
        <td>30</td>
        <td>G</td>
        <td>China</td>
        <td>169.67</td>
    </tr>
    <tr>
        <td>30</td>
        <td>PG</td>
        <td>India</td>
        <td>156.67</td>
    </tr>
    <tr>
        <td>30</td>
        <td>NC-17</td>
        <td>India</td>
        <td>153.64</td>
    </tr>
    <tr>
        <td>30</td>
        <td>PG-13</td>
        <td>China</td>
        <td>146.67</td>
    </tr>
    <tr>
        <td>30</td>
        <td>R</td>
        <td>China</td>
        <td>145.66</td>
    </tr>
</tbody></table></div>

## Drill-down
- Breaking up one of the dimensions to a lower level.
- e.g.`city` is broken up into  `districts`

TODO: Write a query that calculates revenue (sales_amount) by day, rating, and district. Sort the data by revenue in descending order, and limit the data to the top 20 results. The first few rows of your output should match the table below.

In [5]:
%%time
%%sql

SELECT ddate.day, dmovie.rating, dcust.district, sum(f.sales_amount) as revenue
FROM factsales f
JOIN dimdate ddate     ON (f.date_key = ddate.date_key)
JOIN dimmovie dmovie   ON (f.movie_key = dmovie.movie_key)
JOIN dimcustomer dcust ON (f.customer_key = dcust.customer_key)
GROUP BY (ddate.day, dmovie.rating, dcust.district)
ORDER BY revenue DESC
LIMIT 50

 * postgresql://student:***@127.0.0.1:5432/pagila_star
50 rows affected.
CPU times: user 4.86 ms, sys: 0 ns, total: 4.86 ms
Wall time: 91.5 ms

[(30, 'PG-13', 'Southern Tagalog', Decimal('107.76')),
 (30, 'G', 'Inner Mongolia', Decimal('77.86')),
 (30, 'G', 'Shandong', Decimal('73.86')),
 (30, 'NC-17', 'West Bengali', Decimal('73.84')),
 (17, 'PG-13', 'Shandong', Decimal('69.90')),
 (1, 'PG', 'California', Decimal('65.88')),
 (18, 'NC-17', 'So Paulo', Decimal('65.86')),
 (30, 'NC-17', 'Buenos Aires', Decimal('63.86')),
 (21, 'R', 'So Paulo', Decimal('63.86')),
 (30, 'PG', 'Southern Tagalog', Decimal('61.88')),
 (30, 'PG', 'So Paulo', Decimal('61.86')),
 (30, 'R', 'Buenos Aires', Decimal('61.84')),
 (18, 'NC-17', 'Maharashtra', Decimal('59.90')),
 (30, 'G', 'California', Decimal('59.90')),
 (21, 'PG-13', 'Uttar Pradesh', Decimal('59.88')),
 (10, 'R', 'Maharashtra', Decimal('59.86')),
 (20, 'PG', 'Shandong', Decimal('59.86')),
 (18, 'R', 'Sumy', Decimal('57.94')),
 (21, 'PG-13', 'Southern Tagalog', Decimal('57.92')),
 (29, 'NC-17', 'So Paulo', Decimal('57.90')),
 (20, 'PG-13', 'Buenos Aires', Decimal('57.90')),
 (28, 'R', 'California', Decimal('57.88')),
 (29, 'G', 'England', Decimal('57.88')),
 (17, 'NC-17', 'California', Decimal('57.88')),
 (27, 'PG-13', 'Buenos Aires', Decimal('57.84')),
 (28, 'R', 'Maharashtra', Decimal('55.92')),
 (30, 'PG-13', 'Uttar Pradesh', Decimal('55.88')),
 (22, 'PG', 'So Paulo', Decimal('55.88')),
 (2, 'PG-13', 'So Paulo', Decimal('53.92')),
 (30, 'R', 'Shandong', Decimal('53.90')),
 (19, 'NC-17', 'California', Decimal('51.92')),
 (30, 'G', 'Moskova', Decimal('51.92')),
 (29, 'G', 'Uttar Pradesh', Decimal('51.90')),
 (17, 'NC-17', 'Texas', Decimal('51.90')),
 (30, 'PG-13', 'Buenos Aires', Decimal('51.88')),
 (29, 'NC-17', 'Texas', Decimal('49.92')),
 (30, 'PG', 'California', Decimal('49.92')),
 (28, 'PG-13', 'Dhaka', Decimal('49.92')),
 (30, 'NC-17', 'Guangdong', Decimal('49.92')),
 (28, 'PG-13', 'England', Decimal('49.92')),
 (18, 'NC-17', 'Shandong', Decimal('49.90')),
 (21, 'R', 'Uttar Pradesh', Decimal('49.90')),
 (30, 'R', 'Maharashtra', Decimal('49.86')),
 (20, 'PG-13', 'Southern Tagalog', Decimal('47.94')),
 (28, 'G', 'Taipei', Decimal('47.92')),
 (30, 'PG', 'Galicia', Decimal('47.92')),
 (23, 'G', 'Moskova', Decimal('47.92')),
 (30, 'NC-17', 'England', Decimal('47.90')),
 (30, 'NC-17', 'Gelderland', Decimal('47.90')),
 (21, 'G', 'California', Decimal('47.90'))]

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>day</th>
        <th>rating</th>
        <th>district</th>
        <th>revenue</th>
    </tr>
    <tr>
        <td>30</td>
        <td>PG-13</td>
        <td>Southern Tagalog</td>
        <td>53.88</td>
    </tr>
    <tr>
        <td>30</td>
        <td>G</td>
        <td>Inner Mongolia</td>
        <td>38.93</td>
    </tr>
    <tr>
        <td>30</td>
        <td>G</td>
        <td>Shandong</td>
        <td>36.93</td>
    </tr>
    <tr>
        <td>30</td>
        <td>NC-17</td>
        <td>West Bengali</td>
        <td>36.92</td>
    </tr>
    <tr>
        <td>17</td>
        <td>PG-13</td>
        <td>Shandong</td>
        <td>34.95</td>
    </tr>
</tbody></table></div>